/*font-family: 'Barlow Condensed', sans-serif;
font-family: 'Lusitana', serif;*/

/*index or landing page starts here*/

body {
  background-color: #FFFFFF;

}

@media (min-width: 1200px) {
.home {
  background-image: url(../images/rhea-landing.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 60%;
  background-position: left 50% bottom 78%;
}
}


/*Hide in Other Small Devices */


/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

      .home {
        background-image: url(../images/rhea-landing.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-size: 60%;
        background-position: left 50% bottom 78%;
    }

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

    .home {
        background-image: url(../images/rhea-landing.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-size: 60%;
        background-position: left 50% bottom 78%;
    }

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

          .home {
        background-image: none;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {

          .home {
        background-image: none;
    }

}

.title h1 {
  font-family: 'Barlow Condensed', sans-serif;
  color: #d5aa46; /*if you want gray : 8F8F85*/
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
  font-size: 75px;
  margin: 125px auto;
  margin-bottom: 0px;
  padding-bottom: 30px;
  border-bottom: 1px solid #292929;
  border-width: thick;
  width: 210px;
}

.title1{
  animation: title1 12s infinite;
  animation-delay: 1s;
}
@keyframes title1 {
  50% {opacity: 0;}
}

.title2 {
  animation: title2 12s infinite;
  animation-delay: 2s;
}
@keyframes title2 {
  50% {opacity: 0;}
}

.title3 {
  animation: title3 12s infinite;
  animation-delay: 3s;
}
@keyframes title3 {
  50% {opacity: 0;}
}

.subtitle h2 {
  font-family: 'Barlow Condensed', sans-serif;
  color: #292929;
  text-align: left;
  font-size: 36px;
  padding-top: 8px;
  margin: auto;
  margin-bottom: 80px;
  width: 210px;

}

/*header or main navigation starts here*/

h3 {
  font-family: 'Barlow Condensed', sans-serif;
  color: #292929;
  text-align: center;
  font-size: 30px;

}

header {
  text-decoration: none;
  text-align: center;
  margin: 80px auto;
  width: 70%;
  border-bottom: 1px solid #CCCCBC;
}

nav {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #292929;
  text-transform: capitalize;
  font-stretch: expanded;
}


li {
  display: inline-block;
  padding: 0px;
  margin: 10px 27px 70px 27px;
}



.menunavigation a:link, a:visited {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: #292929;


}
.menunavigation a:hover{
  color: #d5aa46;
}

.menunavigation a:active {
  color: #d5aa46;
}

/*about page starts here*/
.about {
  position: relative;
  width: 100%; /* Maximum width */
  margin: 0 auto; /* Center it */

}

.about .aboutlanding {
  position: absolute; /* Position the background text */
  top: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(255, 204, 84); /* Fallback color */
  background: rgba(2255, 204, 84, 0.5); /* Black background with 0.5 opacity */
  width: 75%; /* Full width */
  padding: 70px 50px; /* Some padding */
  margin: 40px auto;

}

.portrait {
  margin: auto;
  width: 70%;
}

h4  {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: #33322F;
  font-size: 50px;
  text-align: left;
  margin-left: 230px;
  padding-bottom: 10px;

}

p {
  font-family: 'Lato', sans-serif;
  color: black;
  font-size: 14.5px;
  text-align: left;
  margin: 0px 235px;
}

.contact {
  font-family: 'Lato', sans-serif;
  color: black;
  font-size: 14.5px;
  text-align: left;
  margin: 20px 235px;
}

.contact a:link, a:visited {
  padding: 10px 20px;
  font-family: 'Lato', sans-serif;
  color: #33322F;
  font-size: 14.5px;
  border-radius: 5px;
  border-color: #33322F;
  border: solid;
  border-width: 2px;
  margin-top: 10px;
}
.contact a:hover, a:active{
  background-color: #33322F;
  color: rgb(255, 204, 84);
  border-width: 2px;
  border: solid;
  border-color: #33322F;
}

/*Portfolio starts here*/
.portfolio {
  margin: 10px 160px;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  opacity: 1;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.portfoliotitle {
  padding: 15px auto;
  margin-bottom: 6px;
  font-family: 'Lato', sans-serif;
  color: black;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}
div.description {
  font-family: 'Lato', sans-serif;
  color: black;
  font-size: 14.5px;
  text-align: left;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 20px;
  float: left;
  width: 33.3333333%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 480px) {
  .responsive {
    width: 100%;
    margin-left: -30px;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*footer starts here*/

h6 {
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  text-align: center;
  color: #CCCCBC;
  font-size: 14px;
  margin:  auto;
  margin-top: 20px;
  margin-bottom: 45px;
}

footer {
  margin: 80px auto;
  text-decoration: none;
  text-align: center;
  position: relative;
   bottom: 0;
   left: 0;
   right: 0;
   width: 100%;
   height: 50px;
}



.footersocial {
  margin: auto;
  text-align: center;
  display: inline;
  text-decoration: none;}

.footersocial ul{
    margin: auto;
    text-align: center;
    display: inline;
    text-decoration: none;
}

.footersocial li{
    display:inline;
    text-align: center;
    margin: auto;
    padding: 10px 16px;
}

@font-face {
  font-family: 'Socicon';
  src:  url('../fonts/Socicon.eot?6abp0d');
  src:  url('../fonts/Socicon.eot?6abp0d#iefix') format('embedded-opentype'),
    url('../fonts/Socicon.woff2?6abp0d') format('woff2'),
    url('../fonts/Socicon.ttf?6abp0d') format('truetype'),
    url('../fonts/Socicon.woff?6abp0d') format('woff'),
    url('../fonts/Socicon.svg?6abp0d#Socicon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="socicon-"], [class*=" socicon-"] {
  font-family: 'Socicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.socicon-instagram:before {
  content: "\e044";
  height: 25px;
  width: 25px;
}
.socicon-linkedin:before {
  content: "\e04c";
  height: 25px;
  width: 25px;
}
.socicon-mail:before {
  content: "\e050";
  height: 25px;
  width: 25px;
}

.footersocial li a {color: #CCCCBC;} /*C2C2C2*/
.footersocial li a:hover {color: #d5aa46;}
