/*font-family: 'Barlow Condensed', sans-serif;
font-family: 'Lusitana', serif;*/

/*index*/

body {
  background-color: #FFF6E0;

}

.home {
  background-image: url(../images/rhea.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 55%;
  background-position: left 50% bottom 78%;

}

.title h1 {
  font-family: 'Barlow Condensed', sans-serif;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
  font-size: 75px;
  margin: 125px auto;
  margin-bottom: 0px;
  padding-bottom: 30px;
  border-bottom: 1px solid black;
  border-width: thick;
  width: 210px;
}

.title1{
  animation: title1 12s infinite;
  animation-delay: 1s;
}
@keyframes title1 {
  50% {opacity: 0;}
}

.title2 {
  animation: title2 12s infinite;
  animation-delay: 2s;
}
@keyframes title2 {
  50% {opacity: 0;}
}

.title3 {
  animation: title3 12s infinite;
  animation-delay: 3s;
}
@keyframes title3 {
  50% {opacity: 0;}
}

.subtitle h2 {
  font-family: 'Barlow Condensed', sans-serif;
  color: black;
  text-align: left;
  font-size: 36px;
  padding-top: 8px;
  margin: auto;
  margin-bottom: 50px;
  width: 210px;

}

h3 {
  font-family: 'Barlow Condensed', serif;
  color: gray;
  text-align: center;
  width: 200px;
  font-size: 50px;
  margin: 50px auto;
  margin-bottom: 0px;
  border-color: gray;
}

nav {
  font-family: 'Barlow Condensed', serif;
  text-align: center;
  width: 400px;
  border-bottom: 1px solid black;
  transition: all 2s;
}
.nav:hover {
  opacity: 0.1;
}
.nav a:link, a:visited {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  color: gray;
}

p {
  font-family: 'Barlow Condensed', sans-serif;
  color: black;
  font-size: 20px;
}

h6 {
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  text-align: center;
  color: #ADAFAF;
  font-size: 14px;
  margin:  auto;
  margin-bottom: 60px;
}

.socialicons {

  padding: 30px;
  margin: 40px auto;
  margin-bottom: 10px;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

.insta:link {
  padding: 30px;
  margin: 40px auto;
  margin-bottom: 10px;
  align-items: center;
  text-align: center;
  text-decoration: none;
  height: 50px;
  width: 50px;
  border: 0px;
  background: url(../images/insta.png);
}
.insta:hover{
  height: 50px;
  width: 50px;
  background: url(../images/insta-hover.png);
}
/*first page*/
.river {
  text-align: center;
  color: black;
  font-family: 'Barlow Condensed', sans-serif;
  color: black;
  font-size: 20px;
}

.rivers a {
  text-decoration: none;
}
.water {
  width: 150px;
  height: 150px;
  margin: auto;
  background: url("../images/river.png");
  animation: play 2s steps(10) infinite;
  transition: all 1s;
}
.water:hover {
  transform: rotate(10deg);
  transform: skewX(20deg);
  transform: scale(2,0);
}
@keyframes play {
    100% { background-position: -1900px; }

}
/*elevator page*/
.box {
  height: 50px;
  width: 30px;
  margin: 10px;
  margin-right: 500px;
  position: relative;
  bottom: 0px;
  float: right;
  background-color: #6387AD;
  animation: box 10s infinite;
  animation-timing-function: linear;
  -webkit-animation: box 5s infinite;
}
@-webkit-keyframes box {
  0% {opacity: 2.0;bottom: 0px;}
  50% {opacity: 1.5; bottom: 100px;}
  75% {opacity: 0.5;bottom: 200px;}
  100% {opacity: 0;bottom: 400px;}
}
@keyframes box {
  0% {opacity: 2.0;bottom: 0px;}
  50% {opacity: 1.5; bottom: 100px;}
  75% {opacity: 0.5;bottom: 200px;}
  100% {opacity: 0;bottom: 400px;}
}
.elevator {
  text-align: left;
  padding-left: 250px;
  margin-bottom: 50px;
}
.ground {
  background-color: #394C61;
  width: 2000px;
  height: 400px;
  position: absolute;
  margin-top: -15px;
}

/*last page*/
.cry {
  text-align: right;
  margin-right: 300px;
  margin-bottom: -500px;
  float: right;
}

.confetti span {
  font-family: 'Lusitana', serif;
  overflow: hidden;
  display: inline-block;
  font-size: 100px;
  margin-bottom: -400px;
  margin-left: 100px;
}
.excl1 {
  animation: excl 2s linear infinite normal;
  animation-timing-function: ease-in-out;
  font-size: 180px;
  width: 1000px;
  color: #AD3306;
}
.excl2 {
  animation: excl 1s linear infinite normal;
  animation-timing-function: ease-in-out;
  font-size: 180px;
  width: 1000px;
  color: #AD3306;
}
.excl3 {
  animation: excl 0.2s linear infinite normal;
  animation-timing-function: ease-in-out;
  font-size: 180px;
  width: 1000px;
  color: #AD3306;
}
.excl4 {
  animation: excl 0.3s linear infinite normal;
  animation-timing-function: ease-in-out;
  font-size: 180px;
  width: 1000px;
  color: #AD3306;
}
.excl5 {
  animation: excl 0.5s linear infinite normal;
  animation-timing-function: ease-in-out;
  font-size: 180px;
  width: 1000px;
  color: #AD3306;
}
@keyframes excl {
  from {
    color:#AD3306;
    bottom:100px;
    right:-1200px;
    transform: translate(50,250);
    transform: rotate(-20deg);
  }
  to {
    opacity:0.2;
    color:#AD3306;
    bottom:300px;
    right: 600px;
    transform: translate(100,600);
    transform: rotate(70deg);
  }
}

.semi1 {
  animation: semi 1s linear infinite normal;
  animation-timing-function: ease-in-out;
  color: #FCAE4A;
  font-size: 160px;
  width: 600px;
}
.semi2{
  animation: semi 2s linear infinite normal;
  animation-timing-function: ease-in-out;
  color: #FCAE4A;
  font-size: 140px;
  width: 600px;
}
.semi3{
  animation: semi 3s linear infinite normal;
  animation-timing-function: ease-in-out;
  color: #FCAE4A;
  font-size: 170px;
  width: 600px;
}
.semi4{
  animation: semi 4s linear infinite normal;
  animation-timing-function: ease-in-out;
  color: #FCAE4A;
  font-size: 190px;
  width: 600px;
}
.semi5{
  animation: semi 5s linear infinite normal;
  animation-timing-function: ease-in-out;
  color: #FCAE4A;
  font-size: 190px;
  width: 600px;
}
@keyframes semi {
  from {
    color:#FCAE4A;
    bottom:100px;
    right:-1200px;
    transform: rotate(0deg);
  }
  to {
    opacity:0.2;
    color:#FCAE4A;
    bottom:-100px;
    right:800px;
    font-size: 2em;
    transform: rotate(180deg);
  }
}
}
